@charset "UTF-8";
.coupon {
    .tab-panel {
        top: 2.5rem!important;
        bottom: 2.45rem!important;
        background-color: transparent;
    }
    .fixed-bottom {
        position: absolute;
        z-index: 1000;
        bottom: 0;
        left: 0;
        right: 0;
        @include displayFlex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: #fff;
        height: 2.45rem;
        box-shadow: 0 .1rem .2rem 0 #BDBDBD;
        a {
            @include displayFlex;
            align-items: center;
            justify-content: center;
            @include boxFlex(1);
            position: relative;
            height: 2.45rem;
            color: #FF810C;
            font-size: .75rem;
            &:first-child {
                color: #666;
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -.375rem;
                    height: .75rem;
                    width: 1px;
                    background: #FF810C;
                }
            }
            &.bd-coupon-add {
                color: #FF810C;
                &:after {
                    content: none;
                }
            }
        }
    }
}

.coupon-list {
    padding: .75rem;
    .coupon-list-item {
        position: relative;
        margin-bottom: .75rem;
        height: 7.75rem;
        border-radius: .2rem;
        background-color: #fff;
        box-shadow: 0 .225rem .225rem .075rem rgba(235, 238, 240, 0.50);
        &.-red {
            .main {
                background-image: linear-gradient(-180deg, #FF8F7F 0%, #FF6B56 100%);
            }
        }
        &.-disabled {
            .main {
                background-color: #A1A1A1;
                background-image: none;
            }
            .control {
                .btn-control {
                    border-color: #d6d6d6;
                    color: #d6d6d6;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &::before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            left: -.35rem;
            top: 4.45rem;
            width: .7rem;
            height: .7rem;
            @include prefixer(border-radius, .6rem);
            background-color: #f6f6f6;
        }
        &:after {
            left: auto;
            right: -.3rem;
        }
        .main {
            box-sizing: border-box;
            padding: .75rem;
            position: relative;
            height: 4.8rem;
            border-radius: .2rem;
            background-image: linear-gradient(-180deg, #FFD04A 0%, #FFAC38 100%);
            color: #fff;
            &:after {
                content: '';
                position: absolute;
                left: .75rem;
                right: .75rem;
                bottom: 0;
                border-bottom: 1px dashed #eee;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                right: 3rem;
                bottom: 0;
                width: 3.275rem;
                height: 2.25rem;
                background: url(/images/icon_coupon.png) no-repeat center top / 3.275rem 2.25rem;
            }
            .title {
                width: 10rem;
                height: 2.4rem;
                line-height: 1rem;
                overflow: hidden;
                font-size: .7rem;
            }
            .time {
                font-size: .6rem;
                color: #FFF;
                opacity: 0.8;
            }
            .sum {
                position: absolute;
                right: .75rem;
                top: .75rem;
                dt {
                    font-size: 1rem;
                    span {
                        padding-left: .125rem;
                        font-weight: bold;
                        font-size: 1.3rem;
                    }
                }
                dd {
                    font-size: .6rem;
                }
            }
        }
        .prop {
            @include displayFlex;
            padding: .375rem .75rem;
            .prop-item {
                @include boxFlex(1);
                font-size: .6rem;
                color: #999;
                span {
                    color: #000;
                }
            }
        }
        .control {
            @include displayFlex;
            justify-content: space-between;
            align-items: center;
            padding: 0 .75rem;
            font-size: .6rem;
            color: #FF810C;
            .btn-control {
                border: 1px solid #FF810C;
                height: .95rem;
                width: 2.85rem;
                font-size: .55rem;
                box-sizing: border-box;
                background-color: transparent;
                border-radius: .95rem;
            }
        }
    }
}

.steps {
    @include displayFlex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .45rem .75rem;
    background-color: #fff;
    .steps-item {
        position: relative;
        @include boxFlex(1);
        &:before {
            content: '';
            width: 70%;
            height: .3rem;
            position: absolute;
            z-index: 1;
            top: .75rem;
            left: -35%;
            background-color: #efefef;
        }
        &:first-child {
            &:before {
                height: 0;
            }
        }
        .icon {
            display: block;
            position: relative;
            z-index: 100;
            margin: 0 auto;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            border-radius: 1.5rem;
            background-color: #c8c8c8;
            border: .1rem solid #efefef;
            color: #fff;
            font-size: .8rem;
        }
        .name {
            display: block;
            padding-top: .25rem;
            font-size: .6rem;
            color: #888;
            text-align: center;
        }
        &.-current {
            &:before {
                background-color: #a7c9ff;
            }
            .icon {
                border-color: #a7c9ff;
                background-color: #5294ff;
            }
            .name {
                color: #333;
            }
        }
        &.-active {
            .name {
                color: #5294Ff
            }
        }
    }
}

.addcoupon-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3.2rem;
    overflow: auto;
    .cell {
        margin: .45rem 0;
    }
}

.coupon-add {
    .coupon-wrap {
        input {
            &::-webkit-input-placeholder { /* WebKit browsers */
                font-size: .7rem;
                color: rgba(189,189,189,1);
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                font-size: .7rem;
                color: rgba(189,189,189,1);
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                font-size: .7rem;
                color: rgba(189,189,189,1);
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                font-size: .7rem;
                color: rgba(189,189,189,1);
            }
        }
    }
    .coupon-select {
        span {
            &:nth-child(1) {
                margin-right: 1.8rem;
            }
            i {
                position: relative;
                top: -.05rem;
            }
        }
    }
    .select-area {
        margin-left: -.25rem;
    }
    .time-area {
        a {
            display: inline-block;
            color: rgba(189,189,189,1);
            font-size: .7rem;
            &:after {
                content: '';
                position: absolute;
                right: 2px;
                top: 50%;
                margin-top: -.25rem;
                border: 1px solid #999;
                transform: rotate(45deg);
                width: .4rem;
                height: .4rem;
                border-bottom: none;
                border-left: none;
                -webkit-transform: rotate(45deg);
            }
        }
    }
    .fixed-bottom-control {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: .5rem .75rem;
        @include displayFlex;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 .1rem .2rem 0 #BDBDBD;
        .btn-primary-hollow {
            display: block;
            width: 8rem;
            white-space: nowrap;
            margin-right: .375rem;
            &.-gray {
                border-color: #BDBDBD;
                color: #888889;
            }
        }
    }
    .coupons-preview-wrap {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.40);
        .coupons-preview {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            background: #fafafa;
            .title {
                text-align: center;
                width: 100%;
                @include height(true, 2.4rem, 2.4rem);
                background: #fff;
                font-size: .8rem;
                i {
                    position: absolute;
                    top: .8rem;
                    left: .8rem;
                }
            }
            .coupons-list {
                height: 7.2rem;
                overflow-y: auto;
                ul {
                    @include clearfix();
                    padding: .6rem;
                    li {
                        @include backgroundImages('/images/welfare/voucher.png', 100%, 6rem);
                        margin-bottom: .65rem;
                        .coupons-info {
                            font-size: 0;
                            padding: .8rem 0 0 0;
                            height: 3.5rem;
                            p {
                                display: inline-block;
                                color: rgba(51,51,51,1);
                                &:nth-child(1) {
                                    width: 20%;
                                    img {
                                        width: 70%;
                                        font-size: 0;
                                        margin: 0 0 0 .7rem;
                                        vertical-align: bottom;
                                    }
                                }
                                &:nth-child(2) {
                                    width: 50%;
                                    font-size: .7rem;
                                    position: relative;
                                    top: -.1rem;
                                }
                                &:nth-child(3) {
                                    width: 30%;
                                    font-size: .7rem;
                                    position: relative;
                                    top: -.1rem;
                                    text-align: center;
                                    span {
                                        display: block;
                                        color: rgba(255,67,64,1);
                                        line-height: 0.95rem;
                                        &:nth-child(1) {
                                            i {
                                                font-weight: bold;
                                                font-size: 1rem;
                                            }
                                        }
                                        &:nth-child(2) {
                                            font-size: .6rem;
                                        }
                                    }
                                }
                            }
                        }
                        .valid-term{
                            @include height(true, 2.5rem, 1.6rem);
                            padding-left: .7rem;
                        }
                    }
                }
            }
        }
    }
    // .appliy-store-wrap {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 999;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0,0,0,0.40);
    //     .appliy-store {
    //         background: #fafafa;
    //         position: absolute;
    //         left: 0;
    //         bottom: 0;
    //         width: 100%;
    //         .title {
    //             width: 100%;
    //             @include height(true, 2.4rem, 2.4rem);
    //             background: #fff;
    //             @include displayFlex;
    //             border-bottom: rgba(224,224,224,1) 1px solid;
    //             span {
    //                 @include boxFlex(1);
    //                 font-size: .7rem;
    //                 &:nth-child(1) {
    //                     text-align: left;
    //                     color: rgba(255,129,12,1);
    //                     padding-left: .6rem;
    //                 }
    //                 &:nth-child(2) {
    //                     text-align: center;
    //                     color: #333;
    //                     font-size: .8rem;
    //                 }
    //                 &:nth-child(3) {
    //                     text-align: right;
    //                     color: rgba(255,129,12,1);
    //                     padding-right: .6rem;
    //                 }
    //             }
    //         }
    //         .drop-down-list {
    //             background: #fff;
    //             height: 14rem;
    //             overflow-y: auto;
    //             .parent-ul {
    //                 @include clearfix;
    //                 .parent-list {
    //                     padding-left: .8rem;
    //                     p {
    //                         @include height(true, 2.2rem, 2.2rem);
    //                     }
    //                     .parent-column {
    //                         border-bottom: rgba(224,224,224,1) 1px solid;
    //                         color: rgba(51,51,51,1);
    //                         font-size: .7rem;
    //                         font-weight: bold;
    //                         @include displayFlex;
    //                         span {
    //                             &.parent-title {
    //                                 @include boxFlex(3);
    //                                 text-align: left;
    //                                 i {
    //                                     margin: -.1rem .2rem 0 0;
    //                                 }
    //                             }
    //                             &.parent-up-close {
    //                                 @include boxFlex(1);
    //                                 color: rgba(82,148,255,1);
    //                                 text-align: right;
    //                                 padding-right: .75rem;
    //                             }
    //                         }
    //                     }
    //                     .first-child-ul {
    //                         @include clearfix;
    //                         .first-child-list {
    //                             .first-column {
    //                                 border-bottom: rgba(224,224,224,1) 1px solid;
    //                                 color: rgba(51,51,51,1);
    //                                 padding-left: .85rem;
    //                                 @include displayFlex;
    //                                 span {
    //                                     &.first-title {
    //                                         @include boxFlex(3);
    //                                         font-size: .7rem;
    //                                         text-align: left;
    //                                         i {
    //                                             margin: -.1rem .2rem 0 0;
    //                                         }
    //                                     }
    //                                     &.first-up-close {
    //                                         @include boxFlex(1);
    //                                         font-size: .6rem;
    //                                         color: rgba(82,148,255,1);
    //                                         text-align: right;
    //                                         padding-right: .75rem;
    //                                     }
    //                                 }
    //                             }
    //                             .second-child-ul {
    //                                 @include clearfix;
    //                                 .second-child-list {
    //                                     .second-column {
    //                                         border-bottom: rgba(224,224,224,1) 1px solid;
    //                                         color: rgba(51,51,51,1);
    //                                         padding-left: 1.7rem;
    //                                         @include displayFlex;
    //                                         span {
    //                                             &.second-title {
    //                                                 @include boxFlex(3);
    //                                                 font-size: .7rem;
    //                                                 text-align: left;
    //                                                 i {
    //                                                     margin: -.1rem .2rem 0 0;
    //                                                 }
    //                                             }
    //                                             &.second-up-close {
    //                                                 @include boxFlex(1);
    //                                                 font-size: .6rem;
    //                                                 color: rgba(82,148,255,1);
    //                                                 text-align: right;
    //                                                 padding-right: .75rem;
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //             .reward-ul {
    //                 @include clearfix;
    //                 li {
    //                     padding: 0 0 0 1rem;
    //                     p {
    //                         @include displayFlex;
    //                         border-bottom: rgba(224,224,224,1) 1px solid;
    //                         padding-right: 1rem;
    //                         span {
    //                             @include boxFlex(1);
    //                             color: rgba(51,51,51,1);
    //                             font-size: .65rem;
    //                             &:nth-child(2) {
    //                                 text-align: right;
    //                             }
    //                         }
    //                     }
    //                     &.active {
    //                         p {
    //                             span {
    //                                 &:nth-child(1) {
    //                                     color: rgba(255,129,12,1);
    //                                 }
    //                             }
    //                         }
    //                     }
    //                     &:last-child {
    //                         p {
    //                             border-bottom: none;
    //                         }
    //                     }
    //                 }
    //             }
    //             .statistical-content {
    //                 height: 15rem;
    //                 .statistical {
    //                     @include displayFlex;
    //                     span {
    //                         color: rgba(102,102,102,1);
    //                         font-size: .6rem;
    //                         text-align: center;
    //                         em {
    //                             border: rgba(224,224,224,1) 1px solid;
    //                             @include prefixer(border-radius, .2rem, webkit o moz);
    //                             padding: .2rem 2rem;
    //                         }
    //                         &:nth-child(1) {
    //                             @include boxFlex(1);
    //                         }
    //                         &:nth-child(2) {
    //                             width: 1rem;
    //                         }
    //                         &:nth-child(3) {
    //                             @include boxFlex(1);
    //                         }
    //                     }
    //                 }
    //                 .statist-btn {
    //                     @include displayFlex;
    //                     margin-top: 9rem;
    //                     span {
    //                         @include boxFlex(1);
    //                         text-align: center;
    //                         em {
    //                             @include prefixer(border-radius, .2rem, webkit o moz);
    //                             padding: .25rem 2.2rem;
    //                             color: rgba(255,255,255,1);
    //                             font-size: .65rem;
    //                         }
    //                         &:nth-child(1) {
    //                             em {
    //                                 background: rgba(82,148,255,.6);
    //                             }
    //                         }
    //                         &:nth-child(2) {
    //                             em {
    //                                 background: rgba(82,148,255,1);
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

.coupon-msg {
    position: relative;
    padding: .5rem .75rem;
    background-color: #E8F2FF;
    color: #4382CD;
    font-size: .65rem;
    text-align: center;
    &.-orange {
        background-color: #FCDBBE;
        color: #FF810C;
    }
    &.-tal {
        text-align: left
    }
}
.icon_clear{
    position: absolute;
    display: inline-block;
    @include backgroundImages('/icon/icon_clear.png',.7rem,.7rem);
    right: .3rem;
    top: 50%;
    margin-top: -.35rem;
}
.coupon-record {
    background-color: #fff;
    .coupon-record-main {
        padding: .75rem;
        .-title{
            height: 1.55rem;
            padding: 0 .75rem;
            @include displayFlex;
            align-items: center;
            background: #FF912B;
            border-radius: .25rem .25rem 0 0;
            span{
                margin-right: .875rem;
                color: #fff;
                font-size: .6rem;
            }
        }
        .-table {
            border-collapse: initial;
            border: 1px solid #eee;
            border-top: 0;
            border-radius: 0 0 .25rem .25rem;
            td,
            th {
                width: 25%;
                padding: .375rem;
                line-height: 1.2;
            }
            thead {
                tr {
                    th {
                        text-align: center;
                        height: 1.95rem;
                        box-sizing: border-box;
                        font-size: .6rem;
                        color: #5D4219;
                        background: #FFF1E3;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: .6rem;
                        color: #999;
                        border-left: 1px solid #eee;
                        border-top: 1px solid #eee;
                        &:first-child{
                            border-left: 0;
                        }
                    }
                    &:last-child {
                        td:last-child {
                            border-radius: 0 0 .25rem 0;
                        }
                        td:first-child {
                            border: 0 0 0 .25rem;
                        }
                    }
                }
            }
        }
    }
}


        .appliy-store {
            background: #fafafa;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            .title {
                width: 100%;
                @include height(true, 2.4rem, 2.4rem);
                background: #fff;
                @include displayFlex;
                border-bottom: rgba(224,224,224,1) 1px solid;
                span {
                    @include boxFlex(1);
                    font-size: .7rem;
                    &:nth-child(1) {
                        text-align: left;
                        color: rgba(255,129,12,1);
                        padding-left: .6rem;
                    }
                    &:nth-child(2) {
                        text-align: center;
                        color: #333;
                        font-size: .8rem;
                    }
                    &:nth-child(3) {
                        text-align: right;
                        color: rgba(255,129,12,1);
                        padding-right: .6rem;
                    }
                }
            }
            .drop-down-list {
                background: #fff;
                height: 14rem;
                overflow-y: auto;
                .parent-ul {
                    @include clearfix;
                    .parent-list {
                        padding-left: .8rem;
                        p {
                            @include height(true, 2.2rem, 2.2rem);
                        }
                        .parent-column {
                            border-bottom: rgba(224,224,224,1) 1px solid;
                            color: rgba(51,51,51,1);
                            font-size: .7rem;
                            // font-weight: bold;
                            @include displayFlex;
                            span {
                                &.parent-title {
                                    @include boxFlex(3);
                                    text-align: left;
                                    i {
                                        margin: -.1rem .2rem 0 0;
                                    }
                                }
                                &.parent-up-close {
                                    @include boxFlex(1);
                                    color: rgba(82,148,255,1);
                                    text-align: right;
                                    padding-right: .75rem;
                                }
                            }
                        }
                        .first-child-ul {
                            @include clearfix;
                            .first-child-list {
                                .first-column {
                                    border-bottom: rgba(224,224,224,1) 1px solid;
                                    color: rgba(51,51,51,1);
                                    padding-left: .85rem;
                                    @include displayFlex;
                                    span {
                                        &.first-title {
                                            @include boxFlex(3);
                                            font-size: .7rem;
                                            text-align: left;
                                            i {
                                                margin: -.1rem .2rem 0 0;
                                            }
                                        }
                                        &.first-up-close {
                                            @include boxFlex(1);
                                            font-size: .6rem;
                                            color: rgba(82,148,255,1);
                                            text-align: right;
                                            padding-right: .75rem;
                                        }
                                    }
                                }
                                .second-child-ul {
                                    @include clearfix;
                                    .second-child-list {
                                        .second-column {
                                            border-bottom: rgba(224,224,224,1) 1px solid;
                                            color: rgba(51,51,51,1);
                                            padding-left: 1.7rem;
                                            @include displayFlex;
                                            span {
                                                &.second-title {
                                                    @include boxFlex(3);
                                                    font-size: .7rem;
                                                    text-align: left;
                                                    i {
                                                        margin: -.1rem .2rem 0 0;
                                                    }
                                                }
                                                &.second-up-close {
                                                    @include boxFlex(1);
                                                    font-size: .6rem;
                                                    color: rgba(82,148,255,1);
                                                    text-align: right;
                                                    padding-right: .75rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .reward-ul {
                    @include clearfix;
                    li {
                        padding: 0 0 0 1rem;
                        p {
                            @include displayFlex;
                            border-bottom: rgba(224,224,224,1) 1px solid;
                            padding-right: 1rem;
                            span {
                                @include boxFlex(1);
                                color: rgba(51,51,51,1);
                                font-size: .65rem;
                                &:nth-child(2) {
                                    text-align: right;
                                }
                            }
                        }
                        &.active {
                            p {
                                span {
                                    &:nth-child(1) {
                                        color: rgba(255,129,12,1);
                                    }
                                }
                            }
                        }
                        &:last-child {
                            p {
                                border-bottom: none;
                            }
                        }
                    }
                }
                .statistical-content {
                    height: 15rem;
                    .statistical {
                        @include displayFlex;
                        span {
                            color: rgba(102,102,102,1);
                            font-size: .6rem;
                            text-align: center;
                            em {
                                border: rgba(224,224,224,1) 1px solid;
                                @include prefixer(border-radius, .2rem, webkit o moz);
                                padding: .2rem 2rem;
                            }
                            &:nth-child(1) {
                                @include boxFlex(1);
                            }
                            &:nth-child(2) {
                                width: 1rem;
                            }
                            &:nth-child(3) {
                                @include boxFlex(1);
                            }
                        }
                    }
                    .statist-btn {
                        @include displayFlex;
                        margin-top: 9rem;
                        span {
                            @include boxFlex(1);
                            text-align: center;
                            em {
                                @include prefixer(border-radius, .2rem, webkit o moz);
                                padding: .25rem 2.2rem;
                                color: rgba(255,255,255,1);
                                font-size: .65rem;
                            }
                            &:nth-child(1) {
                                em {
                                    background: rgba(82,148,255,.6);
                                }
                            }
                            &:nth-child(2) {
                                em {
                                    background: rgba(82,148,255,1);
                                }
                            }
                        }
                    }
                }
            }
        }